@value makerBlack, makerWhite, makerColorful, makerShadow from '../../common/colors.css';

.card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1px;
  margin-bottom: 1em;
  padding: 0.2em 0;
  background-color: yellow;
  box-shadow: 4px 4px 8px 0px makerShadow;
  max-width: 30rem;
}

.card:hover .delete {
  display: block;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
}

.delete {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
  border: 0;
  background: transparent;
  font-weight: 600;
}

.delete:hover {
  opacity: 0.8;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWhite;
  transform: translateY(0.5em);
}
