@value makerWhite, makerBlack from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerBlack;
  text-align: center;
  padding: 10px 0;
}

.title {
  color: makerWhite;
  text-decoration: none;
}
