/* @value makerBlack from  './common/colors.css'; */

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  /* background: -webkit-linear-gradient(top left, #efe3d0, #87a8a4);
  background: -moz-linear-gradient(top left, #efe3d0, #87a8a4);
  background: linear-gradient(to bottom right, #efe3d0, #87a8a4); */
}
