/* @value makerBlack from  './common/colors.css'; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efe3d0;
  background: -webkit-linear-gradient(top left, #efe3d0, #fde2e2);
  background: -moz-linear-gradient(top left, #efe3d0, #fde2e2);
  background: linear-gradient(to bottom right, #efe3d0, #fde2e2);
}
/* 7897AB */
/* b2c8df */
